:root {
  --font-1: Helvetica, Arial, sans-serif;
  --white: #ffffff;
  --black: #000;
  --offBlack: #232323;
  --greyLight: #EBEBEB;
  --greyMed-1: #707070;
  --greyDark: #212121;
  --grey-4: #f7f9fa;
  --black-3: #000f31;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #ececec;
  font-family: var(--font-1);
}

.upper-case {
  text-transform: uppercase;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.bg-img {
  background-image: url("../images/background.jpg");
  background-color: var(--black-3);
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
  .bg-img {
    height: 800px;
  }
}

@media only screen and (max-width: 700px) {
  .bg-img {
    height: 600px;
  }
}

.bg-img .faq-info-container {
  padding: 5% 5%;
  display: -ms-grid;
  display: grid;
      grid-template-rows: repeat(3, 1fr);
  height: 100%;
}

@media all and (max-width: 700px) {
  .bg-img .faq-info-container {
    padding: 7% 5.6%;
  }
}

.bg-img .faq-info-container .faq-info {
  color: #fff;
  position: relative;
  line-height: 1.4;
}

.bg-img .faq-info-container .faq-info h1::first-letter, .bg-img .faq-info-container .faq-info h3::first-letter {
  text-transform: capitalize;
}

.bg-img .faq-info-container .faq-info-1 h3 {
  font-weight: 600;
  font-size: 2rem;
  width: 70%;
}

@media all and (max-width: 1000px) {
  .bg-img .faq-info-container .faq-info-1 h3 {
    font-size: 1.4rem;
    width: 90%;
  }
}

@media all and (max-width: 700px) {
  .bg-img .faq-info-container .faq-info-1 h3 {
    font-size: 1.3rem;
    width: 90%;
  }
}

.bg-img .faq-info-container .faq-info-2 h1 {
  font-weight: 600;
  position: absolute;
  font-size: 3.4rem;
  width: 70%;
  top: 25%;
}

@media all and (max-width: 1400px) {
  .bg-img .faq-info-container .faq-info-2 h1 {
    font-size: 3rem;
    width: 90%;
  }
}

@media all and (max-width: 1100px) {
  .bg-img .faq-info-container .faq-info-2 h1 {
    font-size: 2.5rem;
    width: 60%;
  }
}

@media all and (max-width: 700px) {
  .bg-img .faq-info-container .faq-info-2 h1 {
    font-size: 2rem;
    width: 80%;
  }
}

.bg-img .faq-info-container .faq-info-3 h3 {
  font-weight: 600;
  position: absolute;
  font-size: 1.6rem;
  width: 50%;
  bottom: 0;
}

@media all and (max-width: 1300px) {
  .bg-img .faq-info-container .faq-info-3 h3 {
    font-size: 1.4rem;
    width: 90%;
  }
}

@media all and (max-width: 700px) {
  .bg-img .faq-info-container .faq-info-3 h3 {
    font-size: 1.3rem;
    width: 90%;
  }
}

.bg-img .faq-info-container .faq-info-3 h3::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background: #fff;
  top: -25px;
  left: 0;
  margin: auto;
}

@media all and (max-width: 700px) {
  .bg-img .faq-info-container .faq-info-3 h3::after {
    top: -20px;
  }
}

:root {
  --font-1: Helvetica, Arial, sans-serif;
  --white: #ffffff;
  --black: #000;
  --offBlack: #232323;
  --greyLight: #EBEBEB;
  --greyMed-1: #707070;
  --greyDark: #212121;
  --grey-4: #f7f9fa;
  --black-3: #000f31;
}

.accordian-main-container {
  background-color: #fff;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
}

@media all and (max-width: 1000px) {
  .accordian-main-container {
    padding-bottom: 70px;
    padding-top: 20px;
    width: 100%;
  }
}

.accordian-main-container .accordian-title-container {
  background-color: #fff;
  padding-left: 6%;
}

.accordian-main-container .accordian-title-container h2 {
  margin: 35px 0 50px 0;
  font-size: 2rem;
}

@media all and (max-width: 700px) {
  .accordian-main-container .accordian-title-container h2 {
    margin: 25px 0 40px 0;
  }
}

.accordian-main-container .accordian-title-container h2::first-letter {
  text-transform: capitalize;
}

.accordian-main-container #accordian-wrapper {
  width: calc(100% - 12%);
  margin: 0 auto;
}

.accordian-btn:nth-child(1) {
  border-top: 1px #dedede solid !important;
}

.accordian-btn {
  display: block;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 24px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: 600;
}

.accordian-btn:hover {
  color: #5e5e5e !important;
}

.accordian-btn:after {
  content: '\25BE';
  float: right;
  position: relative;
  bottom: 2px;
  margin-left: 5px;
}

.active:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.panel {
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  line-height: 1.7;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
  border-bottom: 1px #dedede solid !important;
}

.panel p {
  padding: 40px 0;
  color: #5e5e5e;
}
