@import "_var";
.accordian-main-container {
    background-color: #fff;
    margin: 0 auto;
    flex: 1 50%;
    @media all and (max-width: 1000px) {
         padding-bottom: 70px;
         padding-top: 20px;
    }
    //
    //padding: 0 5%;

    .accordian-title-container {
        background-color: #fff;
       //padding-top: 5%;
       padding-left: 6%;
       
        h2 {
            margin: 35px 0 50px 0;
            font-size: 2rem;
            @media all and (max-width: 700px) {
                margin: 25px 0 40px 0;
            }

        }
        h2::first-letter {
            text-transform: capitalize;
         }
    }
    #accordian-wrapper {
        width: calc(100% - 12%);
        margin: 0 auto;
       // outline: red solid 1px;

    }
}

.accordian-btn:nth-child(1) {
    border-top: 1px #dedede solid !important;

}
.accordian-btn {
    display: block;
background-color: #fff;
color: #000;
cursor: pointer;
padding:24px 0;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
transition: color 0.3s;
font-weight: 600;
@media all and (max-width: 600px) {
    // font-size: 1.4rem;
    // width: 90%;
}
&:hover {
    color: #5e5e5e !important;
}
}



.accordian-btn:after {
content: '\25BE';
//content: '\25BC';
//content: '\261D';

//color: #777;
//font-weight: bold;
float: right;
position: relative;
bottom: 2px;
margin-left: 5px;
}

.active:after {
    transform: rotate(180deg);
//content: "\25B4";
}

.panel {
    //padding: 0 18px;
background-color: #fff;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
//margin:  20px 0;
line-height: 1.7;
max-height: 0;
//overflow: hidden;
transition: max-height 0.2s ease-in-out;
border-bottom: 1px #dedede solid !important;

p {
    padding: 40px 0;
    color: #5e5e5e;
}
}

