:root {
     --font-1: Helvetica, Arial, sans-serif;
     --white: #ffffff;
     --black: #000;
     --offBlack: #232323;
     --greyLight: #EBEBEB;
     --greyMed-1: #707070;
     --greyDark: #212121;
     --grey-4: #f7f9fa;
     --black-3: #000f31;
   }
 
   @mixin mobile {
     @media all and (max-width: 601px)  {
          @content;
     }
   }