@import "_var";


*, *:before, *:after{
   // outline: 1px solid red;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 
 html {
     font-size: 16px;
 }

 body {
     background-color: #ececec;
    font-family: var(--font-1);
   //overflow-x: hidden;
 }

 .upper-case {
     text-transform: uppercase
 }
//  .br-none {
//     @media only screen and (max-width: 1000px) {
// display: none !important;
//     }
//  }
 .main-container {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     max-width: 1500px;
     width: 100%;
     margin: 0 auto;
    
    @media only screen and (max-width: 1000px) {
        flex-direction: column;
        flex-wrap: wrap;
    }

 }


.bg-img {
    //overflow-x: hidden;
    background-image: url("../images/background.jpg");
    background-color:var(--black-3);
    height: 1000px;
    @media only screen  and (min-width: 701px)  and  (max-width: 1000px) {
        height: 800px; 
    }
    @media only screen  and (max-width: 700px) {
        height: 600px; 
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    flex: 1 50%;
    .faq-info-container {
        padding: 5% 5%;
        @media all and (max-width: 700px) {
            padding: 7% 5.6%;
        }
        //background:lavender;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        //align-content: space-between;
        //flex-direction: column;
        height: 100%;
        //align-items: stretch;
        .faq-info {
            color: #fff;
            //display: grid;
            position: relative;
            line-height: 1.4;
           
       
            h1::first-letter, h3::first-letter {
               text-transform: capitalize;
            }

            
        }
        .faq-info-1 {
            
            h3 {
                font-weight: 600;
                
                font-size: 2rem;
               width: 70%;
               @media all and (max-width: 1000px) {
                font-size: 1.4rem;
                width: 90%;
            }
            @media all and (max-width: 700px) {
                font-size: 1.3rem;
                width: 90%;
            }
            }

        }
        .faq-info-2 {
            
            h1 {
                font-weight: 600;
                position: absolute;
               font-size: 3.4rem;
               width: 70%;
               top: 25%;
               @media all and (max-width: 1400px) {
                font-size: 3rem;
                width: 90%;
            }
               @media all and (max-width: 1100px) {
                font-size: 2.5rem;
                width: 60%;
            }
            @media all and (max-width: 700px) {
                font-size: 2rem;
                width: 80%;
            }
               
            }
            
        }
        .faq-info-3 {
            h3 {
                font-weight: 600;
                position: absolute;
                font-size: 1.6rem;
               width: 50%;
               bottom: 0;
               @media all and (max-width: 1300px) {
                font-size: 1.4rem;
                width: 90%;
            }
            @media all and (max-width: 700px) {
                font-size: 1.3rem;
                width: 90%;
            }

            }

            h3::after {
                content:'';
                position:absolute;
                width:60px;
                height:2px;
                background: #fff;
                top:-25px;
                left:0;
                //right:0;
                margin:auto;
                @media all and (max-width: 700px) {
                    top:-20px;
                }
               
            }
            
        }

    }
}
 


 @import "_accordian";

 